/* Variables */
:root {
  /* Dark Shades of Primary */
  --colorPrimare-Shade1: #10423d;
  --colorPrimare-Shade2: #17635c;
  --colorPrimare-Shade3: #1f847a;
  --colorPrimare-Shade4: #27a599;
  /* Primary */
  --primaryColor: #2ec4b6;
  /* Lighter Shades of Primary */
  --colorPrimare-Light1: #49d4c6;
  --colorPrimare-Light2: #6adcd1;
  --colorPrimare-Light3: #8be4db;
  --colorPrimare-Light4: #def7f5;
  /* Details Colors */
  --DetailCTA1: #e71d36;
  --DetailCTA2: #ff9f1c;
  /* Dark */
  --mainBlack: #222;
  --offBlack: #011627;
  --mainWhite: #fff;
  --offWhite: #f7f7ff;
  --darkGrey: #978e8e;
  /* Others */
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --borderRad: 0.5rem;
}
/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
  font-size: 2rem;
}
p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2;
  color: var(--darkGrey);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--DetailCTA1);
  color: var(--offWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRad);
}

.btn:hover {
  background: var(--DetailCTA2);
  color: var(--mainWhite);
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* Global for Project*/
/* Peque침a linea de separacion GLOBAL (creada en Hero) */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--DetailCTA2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
/*END LINEA GLOBAL*/

/*Section-title (creada en About ME)*/
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
/* End Globals for project */

/* Nav Bar */
.nav-links {
  display: none; /*Escondemos para trabajar*/
  list-style-type: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid; /*Esto pondra la PARENT en el center*/
  align-items: center;
  transition: all 0.5s linear; /*porque luego sera fixed*/
}
.nav-center {
  /*Ponemos el Nav center, siempre en el center, bigger screen too*/
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  /*centramos verticalmente el header y sus elementos*/
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--colorPrimare-Shade1);
  font-size: 2rem;
  cursor: pointer;
  /* Justify-content: space-between --> en FLEX */
  justify-self: end; /*Tenemos 2 columnas, default=start, mandamos button al end*/
}

/* Navbar for Desktop */
@media screen and (min-width: 768px) {
  .nav {
    background: transparent;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid; /*mostramos los links que estaban hidden*/
    grid-template-columns: repeat(4, 1fr);
    /* No se me tienen en cuenta el logo */
    /* ayuda agregar un bg para manejar dichos items unicamente */
    /* background: red; */
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--colorPrimare-Shade1);
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--DetailCTA2);
  }
  /* Usamos la PARENT para poner todo LADO a LADO */
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /* Sucede que el BTN aunque invisible ocupa un espacio, hay que ponerle AUTO al header */
  }
}

/* Fixed Navbar */
/* Ya tenemos el code JS */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--colorPrimare-Light3);
  z-index: 2;
  box-shadow: 1px 0.5px 10px #747474;
}
/* Podemos agregar una Hero section de 150vh para comprobar */
/* End Fixed Navbar */
/* End Nav Bar */

/* Sidebar for Mobile */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--colorPrimare-Shade4);
  /* Hasta aqui ponemos la barra para verla al 100% y trabajarla*/
  z-index: 4;
  /* Centramos todos los elementos, para eso teniamos la DIV Parent */
  display: grid;
  /* align-items: center; /*vert*/
  /* justify-content: center; hor */
  /* para reemplazar align y justify tenemos: Place-Items: Center */
  place-items: center;
  transition: var(--mainTransition);
  /* add later para mantenerla escondida */
  transform: translateX(-100%);
}
/* CLASE CON JS PARA MOSTRAR */
.show-sidebar {
  transform: translateX(0);
}
/* END CLASE JS */
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--mainTransition);
  color: var(--colorPrimare-Shade2);
  letter-spacing: var(--mainSpacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--colorPrimare-Light4);
}

/* Social Icons */
.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 2rem;
  color: var(--colorPrimare-Shade1);
  transition: var(--mainTransition);
}
.social-icon:hover {
  color: var(--colorPrimare-Light1);
}
.close-btn {
  position: absolute; /*absolute al DIV*/
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  transition: var(--mainTransition);
  color: var(--DetailCTA1);
  cursor: pointer;
}
.close-btn:hover {
  color: var(--DetailCTA2);
  border: none;
}
/* End Sidebar for Mobile */

/* Hero Section  */
/*Creamos y estilizamos la linea de Separacion Global*/
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-img {
  display: none;
}
.hero {
  background: var(--colorPrimare-Light4);
}
.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center; /*Centra todo directo al medio*/
}
.hero-info h4 {
  color: var(--offBlack);
}
.hero-icons {
  justify-items: start; /*Empiezan de la izq*/
}
.hero-btn {
  margin-top: 1.5rem; /*separamos el boton*/
}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative; /*para dar before absolute*/
  }
  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
    border-radius: var(--borderRad);
    position: relative; /*para meterla en el normal flow, y que el borde aparezca por debajo*/
  }
  .hero-img::before {
    box-sizing: border-box;
    content: '';
    position: absolute; /*relative a img*/
    width: 100%;
    height: 100%;
    border: 0.25rem solid #27a599;
    top: 2rem;
    right: -2rem;
    border-radius: var(--borderRad);
  }
}
/* End Hero Section */

/* About Section */
/*Creamos la Section-Title y la ponemos en GLobals*/

/* Queremos que la photo tenga styles , copiamos los de HEROPHOTO */
.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--borderRad);
  position: relative; /*para meterla en el normal flow, y que el borde aparezca por debajo*/
}
.about-title {
  text-align: left; /*titulo a la izq*/
  margin-bottom: 2rem; /*menos separacion debajo del titulo*/
}
.about-title .underline {
  /*Ponemos la linea a la izq*/
  margin-left: 0;
}
.about-center {
  display: grid;
  gap: 3rem 2rem; /*Ya declaramos los espacios Rows:3 , Cols:2 para la GRID que haremos en responsive*/
}
.about-img {
  justify-self: center; /*Centramos la imagen con la GRID PARENT*/
}
.about-info p {
  font-size: 1rem;
  color: var(--darkGrey);
  margin-bottom: 1.5rem;
}
.about-info {
  position: relative;
}
.btn-about {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  /*Copiamos de HERO: Bordes, necesitamos una parent relaitve!!!*/
  .about-img::before {
    box-sizing: border-box;
    content: '';
    position: absolute; /*relative a img*/
    width: 100%;
    height: 100%;
    border: 0.25rem solid #27a599;
    top: 2rem;
    left: -2rem;
    border-radius: var(--borderRad);
  }
  /*Esta es la PARENT RELATIVE*/
  .about-img {
    position: relative;
  }
  .about-info {
    align-self: center;
  }
}
/* End About Section */

/* Services Section */
.services {
  background: var(--offWhite);
}
.service {
  background: var(--offWhite);
  padding: 3rem 1.5rem; /*tama침o de la card*/
  margin-bottom: 2rem;
  border-radius: var(--borderRad);
  text-align: center;
  transition: var(--mainTransition);
  box-shadow: 5px 5px 6px rgba(34, 34, 34, 0.2),
    -5px -5px 6px rgba(255, 255, 255);
}
.service-icon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--mainTransition);
}
.service p {
  transition: var(--mainTransition);
}
.service:hover {
  background: var(--primaryColor);
  color: var(--offWhite);
  overflow: hidden;
  box-shadow: 5px 5px 6px rgba(34, 34, 34, 0.6),
    -5px -5px 6px rgb(255, 255, 255, 0.5);
}
.service:hover p {
  color: var(--offWhite);
}
.service:hover .service-icon {
  color: var(--DetailCTA1);
}
.service:hover .underline {
  background: var(--DetailCTA2);
}
/*si se usa un cellphone (smaller screens) que no acepta CSS GRID cagamo, conviene usar MARGINS*/

@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* End Services Section  */

/* Projects Section  */
.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}
.project {
  position: relative; /*esto se aplicar치 a todos los Projects*/
  background: var(--DetailCTA2);
  border-radius: var(--borderRad);
  margin-bottom: 2rem;
}
.project-info {
  text-align: center;
  color: var(--mainWhite);
  position: absolute; /*se mete dentro del Parent*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--mainTransition);
  opacity: 0; /*Escondemos para trabajar*/
}
.project-info p {
  text-transform: capitalize;
  color: var(--offWhite);
}
.project:hover .project-info {
  opacity: 1;
}
.project-img {
  transition: var(--mainTransition);
  border-radius: var(--borderRad);
  height: 15rem;
  object-fit: cover;
}
.project:hover .project-img {
  opacity: 0.5;
}
.project::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--offWhite);
  /* border-color: red;  Agregamos Color para ver el elemento */
  box-sizing: border-box;
  border-radius: var(--borderRad);
  transition: var(--mainTransition);
  opacity: 0;
}
/*We target the After when we hover*/
.project:hover::after {
  opacity: 1;
  transform: scale(0.8);
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    grid-template-areas:
      'a b b'
      'a c d';
    gap: 2rem;
  }
  .project-1 {
    grid-area: b;
  }
  .project-2 {
    grid-area: a;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
  /*Hasta aqui se ve todo como el orto, tengo que arreglarlo*/
  /*Solucion: LA PARENT MAXIMA son los Hrefs, y dentro estan los PROJECT.
  Tengo que hacer que los PROJECT ocupen el 100%*/
  .project-img {
    height: 100%;
  }
  .project {
    height: 100%;
  }
  /*solo falta un peque침o GAP dentro de la area*/
}
/* End Projects Section */

/* Connect Section */
.connect {
  max-height: 100vh;
  position: relative;
  padding: 7rem 0 2rem 0;
}
.video-container {
  /*Ponemos el vid que se vea todo*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; /*Para poder ver texto*/
}
.connect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--colorPrimare-Shade1);
  opacity: 0.7;
  z-index: -1; /*Para poder ver texto*/
}
.connect {
  display: grid;
  place-items: center;
}
.video-banner .section-title {
  margin-bottom: 1rem;
}
.video-text {
  max-width: 25rem;
  margin-bottom: 1rem;
}
.video-banner {
  background: var(--colorPrimare-Light2);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  border-radius: var(--borderRad);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  transform: scale(0.75);
}
.connect {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 5%,
    100% 95%,
    70% 100%,
    30% 100%,
    0 95%,
    0 5%
  );
}
/* End Connect Section */

/* Skills Section  */
@media screen and (min-width: 992px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.skills {
  background: var(--colorPrimare-Light4);
}
.skills h3 {
  margin: 1.5rem;
  color: var(--colorPrimare-Shade1);
}
.skill {
  margin-bottom: 1.25rem;
}
.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--colorPrimare-Shade4);
}
.skill-container {
  /*Creamos la barra*/
  background: var(--offWhite);
  height: 1rem;
  width: 100%;
  border-radius: var(--borderRad);
  position: relative; /*la child (value) sera absolute*/
}
.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primaryColor);
  height: 100%;
  width: 50%;
  border-radius: var(--borderRad);
}
.value-10 {
  width: 10%;
}
.value-20 {
  width: 20%;
}
.value-30 {
  width: 30%;
}
.value-40 {
  width: 40%;
}
.value-60 {
  width: 60%;
}
.value-70 {
  width: 70%;
}
.value-80 {
  width: 80%;
}
.value-90 {
  width: 90%;
}
.value-100 {
  width: 100%;
}
.skill-text {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.t-10 {
  left: 10%;
}
.t-20 {
  left: 20%;
}
.t-30 {
  left: 30%;
}
.t-40 {
  left: 40%;
}
.t-60 {
  left: 60%;
}
.t-70 {
  left: 70%;
}
.t-80 {
  left: 80%;
}
.t-90 {
  left: 90%;
}
.t-100 {
  left: 100%;
}
/* End Skills Section */

/* Timeline Section   */
.timeline-center {
  width: 80%;
  max-width: 40rem;
}
.timeline-item {
  border-top: 2px dashed var(--colorPrimare-Light2);
  margin: 0;
  padding: 4rem 2rem;
  position: relative; /*for the numbers*/
}
.time-line p {
  margin-bottom: 0;
}
/* Linea Punteada  :NTH-CHILD() puedo afectar a muchos CHILD de una sola vez, Even-Odd o especificar su numero*/
.timeline-item:nth-child(even) {
  /* background: red; Ejemplo para ver su funcionamiento */
  border-left: 2px dashed var(--colorPrimare-Light2);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem; /*Aqui vemos que no termina de completar todo el borde, sigue una linea por debajo*/
  /*Solucion: Darle un margen a la linea vertical para acercarla al elemento y poder doblarla sin que se extienda de mas*/
  margin-right: 1.7rem;
  padding-right: 0;
}
.timeline-item:nth-child(odd) {
  /* background: red; Ejemplo para ver su funcionamiento */
  border-right: 2px dashed var(--colorPrimare-Light2);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2.2rem;
  padding-left: 0;
}
.timeline-item:first-child {
  /*queremos sacarle al top y bot la linea doblada y puntada al top*/
  border-top: 0;
  border-top-right-radius: 0;
}
.timeline-item:last-child {
  border-bottom-left-radius: 0;
}
/*Terminamos Linea Punteada*/
/*Numeros*/
.number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--primaryColor);
  /*usamos widht y height para crear elementos redondos*/
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  /*Con esto centramos los numeros en el bojeto*/
  display: grid;
  place-items: center;
  color: var(--colorPrimare-Shade2);
  font-weight: bold;
}
.timeline-item:nth-child(even) .number {
  left: 0;
}
.timeline-item:nth-child(odd) .number {
  right: 0;
  /*no llegan a la linea punteada, porque usamos TRANSLATE*/
  transform: translate(50%, -50%);
}
/* End Timeline Section  */

/* Blog Section */
.blog {
  background: var(--offWhite);
}
.card {
  height: 27rem; /*poner height, porque usaremos position absolute*/
  position: relative;
  perspective: 1500px; /*ya veremos que es*/
}
/*Usamos la Class Generica para esconder el back detras del front, PERO sigue posicionandose por debajo del FRONT, hay que arreglarlo*/
.card-side {
  transition: all 0.7s linear; /*sacamos la trans de front y back*/
  backface-visibility: hidden;
  position: absolute; /*superpone el front con el back*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--borderRad);
}
.card-front {
  background: var(--colorPrimare-Light4);
}
.card-back {
  background: var(--colorPrimare-Light4);
  /*queremos que sea la espalda, entonces debe estar de espaldas*/
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}
.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0deg);
}
/*rest de styles*/
.card-front img {
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: var(--borderRad);
  border-top-right-radius: var(--borderRad);
}
.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.card-info {
  padding: 1rem 1.5rem;
}
.card-footer img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
.card-footer p {
  margin-bottom: 0;
  text-transform: uppercase;
  justify-self: end;
  color: var(--colorPrimare-Light1);
  font-size: 0.85rem;
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}
/* End Blog Section */
/* Footer Section */
.footer {
  padding-bottom: 2rem;
  background: var(--offBlack);
  display: grid;
  place-items: center;
}
.footer .social-icons {
  margin-bottom: 1.5rem;
}
.footer .social-icon {
  color: var(--colorPrimare-Shade1);
}
.footer .social-icon:hover {
  color: var(--colorPrimare-Light2);
}
.footer p {
  font-size: 1.25rem;
  text-transform: capitalize;
}
/* End Footer Section */

/*Pages*/
.single-page {
  background: var(--colorPrimare-Light4);
  min-height: calc(100vh-5rem-198px);
}
.page-info {
  max-width: 700px;
}
.page-info a {
  text-transform: uppercase;
  color: var(--colorPrimare-Shade2);
  transition: var(--mainTransition);
}
.page-info a:hover {
  color: var(--colorPrimare-Light2);
}
