/* Variables */
:root {
  /* Dark Shades of Primary */
  --colorPrimare-Shade1: #10423d;
  --colorPrimare-Shade2: #17635c;
  --colorPrimare-Shade3: #1f847a;
  --colorPrimare-Shade4: #27a599;
  /* Primary */
  --primaryColor: #2ec4b6;
  /* Lighter Shades of Primary */
  --colorPrimare-Light1: #49d4c6;
  --colorPrimare-Light2: #6adcd1;
  --colorPrimare-Light3: #8be4db;
  --colorPrimare-Light4: #def7f5;
  /* Details Colors */
  --DetailCTA1: #e71d36;
  --DetailCTA2: #ff9f1c;
  /* Dark */
  --mainBlack: #222;
  --offBlack: #011627;
  --mainWhite: #fff;
  --offWhite: #f7f7ff;
  --darkGrey: #978e8e;
  /* Others */
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --borderRad: 0.5rem;
}
/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
  font-size: 2rem;
}
p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2;
  color: var(--darkGrey);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--DetailCTA1);
  color: var(--offWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRad);
}

.btn:hover {
  background: var(--DetailCTA2);
  color: var(--mainWhite);
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* Global for Project*/
/* Pequeña linea de separacion GLOBAL (creada en Hero) */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--DetailCTA2);
  margin-left: auto;
  margin-right: auto;
}
/*END LINEA GLOBAL*/

/*Section-title (creada en About ME)*/
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
/* End Globals for project */

/* Nav Bar */
.nav-links {
  display: none; /*Escondemos para trabajar*/
  list-style-type: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid; /*Esto pondra la PARENT en el center*/
  align-items: center;
  transition: all 0.5s linear; /*porque luego sera fixed*/
}
.nav-center {
  /*Ponemos el Nav center, siempre en el center, bigger screen too*/
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  /*centramos verticalmente el header y sus elementos*/
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--colorPrimare-Shade1);
  font-size: 2rem;
  cursor: pointer;
  /* Justify-content: space-between --> en FLEX */
  justify-self: end; /*Tenemos 2 columnas, default=start, mandamos button al end*/
}

/* Navbar for Desktop */
@media screen and (min-width: 768px) {
  .nav {
    background: transparent;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid; /*mostramos los links que estaban hidden*/
    grid-template-columns: repeat(4, 1fr);
    /* No se me tienen en cuenta el logo */
    /* ayuda agregar un bg para manejar dichos items unicamente */
    /* background: red; */
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--colorPrimare-Shade1);
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--DetailCTA2);
  }
  /* Usamos la PARENT para poner todo LADO a LADO */
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /* Sucede que el BTN aunque invisible ocupa un espacio, hay que ponerle AUTO al header */
  }
}

/* Fixed Navbar */
/* Ya tenemos el code JS */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--colorPrimare-Light3);
  z-index: 2;
  box-shadow: 1px 0.5px 10px #747474;
}
/* Podemos agregar una Hero section de 150vh para comprobar */
/* End Fixed Navbar */
/* End Nav Bar */

/* Sidebar for Mobile */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--colorPrimare-Shade4);
  /* Hasta aqui ponemos la barra para verla al 100% y trabajarla*/
  z-index: 4;
  /* Centramos todos los elementos, para eso teniamos la DIV Parent */
  display: grid;
  /* align-items: center; /*vert*/
  /* justify-content: center; hor */
  /* para reemplazar align y justify tenemos: Place-Items: Center */
  place-items: center;
  transition: var(--mainTransition);
  /* add later para mantenerla escondida */
  transform: translateX(-100%);
}
/* CLASE CON JS PARA MOSTRAR */
.show-sidebar {
  transform: translateX(0);
}
/* END CLASE JS */
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--mainTransition);
  color: var(--colorPrimare-Shade2);
  letter-spacing: var(--mainSpacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--colorPrimare-Light4);
}

/* Social Icons */
.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 2rem;
  color: var(--colorPrimare-Shade1);
  transition: var(--mainTransition);
}
.social-icon:hover {
  color: var(--colorPrimare-Light1);
}
.close-btn {
  position: absolute; /*absolute al DIV*/
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  transition: var(--mainTransition);
  color: var(--DetailCTA1);
  cursor: pointer;
}
.close-btn:hover {
  color: var(--DetailCTA2);
  border: none;
}
/* End Sidebar for Mobile */

/* Hero Section  */
/*Creamos y estilizamos la linea de Separacion Global*/
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-img {
  display: none;
}
.hero {
  background: var(--colorPrimare-Light4);
}
.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center; /*Centra todo directo al medio*/
}
.hero-info h4 {
  color: var(--offBlack);
}
.hero-icons {
  justify-items: start; /*Empiezan de la izq*/
}
.hero-btn {
  margin-top: 1.5rem; /*separamos el boton*/
}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative; /*para dar before absolute*/
  }
  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
    border-radius: var(--borderRad);
    position: relative; /*para meterla en el normal flow, y que el borde aparezca por debajo*/
  }
  .hero-img::before {
    box-sizing: border-box;
    content: "";
    position: absolute; /*relative a img*/
    width: 100%;
    height: 100%;
    border: 0.25rem solid #27a599;
    top: 2rem;
    right: -2rem;
    border-radius: var(--borderRad);
  }
}
/* End Hero Section */

/* About Section */
/*Creamos la Section-Title y la ponemos en GLobals*/

/* Queremos que la photo tenga styles , copiamos los de HEROPHOTO */
.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--borderRad);
  position: relative; /*para meterla en el normal flow, y que el borde aparezca por debajo*/
}
.about-title {
  text-align: left; /*titulo a la izq*/
  margin-bottom: 2rem; /*menos separacion debajo del titulo*/
}
.about-title .underline {
  /*Ponemos la linea a la izq*/
  margin-left: 0;
}
.about-center {
  display: grid;
  gap: 3rem 2rem; /*Ya declaramos los espacios Rows:3 , Cols:2 para la GRID que haremos en responsive*/
}
.about-img {
  justify-self: center; /*Centramos la imagen con la GRID PARENT*/
}
.about-info p {
  font-size: 1rem;
  color: var(--darkGrey);
  margin-bottom: 1.5rem;
}
.about-info {
  position: relative;
}
.btn-about {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  /*Copiamos de HERO: Bordes, necesitamos una parent relaitve!!!*/
  .about-img::before {
    box-sizing: border-box;
    content: "";
    position: absolute; /*relative a img*/
    width: 100%;
    height: 100%;
    border: 0.25rem solid #27a599;
    top: 2rem;
    left: -2rem;
    border-radius: var(--borderRad);
  }
  /*Esta es la PARENT RELATIVE*/
  .about-img {
    position: relative;
  }
  .about-info {
    align-self: center;
  }
}
/* End About Section */

/* Services Section */
.services {
  background: var(--offWhite);
}
.service {
  background: var(--offWhite);
  padding: 3rem 1.5rem; /*tamaño de la card*/
  margin-bottom: 2rem;
  border-radius: var(--borderRad);
  text-align: center;
  transition: var(--mainTransition);
  box-shadow: 5px 5px 6px rgba(34, 34, 34, 0.2),
    -5px -5px 6px rgba(255, 255, 255);
}
.service-icon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--mainTransition);
}
.service p {
  transition: var(--mainTransition);
}
.service:hover {
  background: var(--primaryColor);
  color: var(--offWhite);
  overflow: hidden;
  box-shadow: 5px 5px 6px rgba(34, 34, 34, 0.6),
    -5px -5px 6px rgb(255, 255, 255, 0.5);
}
.service:hover p {
  color: var(--offWhite);
}
.service:hover .service-icon {
  color: var(--DetailCTA1);
}
.service:hover .underline {
  background: var(--DetailCTA2);
}
/*si se usa un cellphone (smaller screens) que no acepta CSS GRID cagamo, conviene usar MARGINS*/

@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* End Services Section  */

/* Projects Section  */
.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}
.project {
  position: relative; /*esto se aplicará a todos los Projects*/
  background: var(--DetailCTA2);
  border-radius: var(--borderRad);
  margin-bottom: 2rem;
}
.project-info {
  text-align: center;
  color: var(--mainWhite);
  position: absolute; /*se mete dentro del Parent*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--mainTransition);
  opacity: 0; /*Escondemos para trabajar*/
}
.project-info p {
  text-transform: capitalize;
  color: var(--offWhite);
}
.project:hover .project-info {
  opacity: 1;
}
.project-img {
  transition: var(--mainTransition);
  border-radius: var(--borderRad);
  height: 15rem;
  object-fit: cover;
}
.project:hover .project-img {
  opacity: 0.5;
}
.project::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--offWhite);
  /* border-color: red;  Agregamos Color para ver el elemento */
  box-sizing: border-box;
  border-radius: var(--borderRad);
  transition: var(--mainTransition);
  opacity: 0;
}
/*We target the After when we hover*/
.project:hover::after {
  opacity: 1;
  transform: scale(0.8);
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    grid-template-areas:
      "a b b"
      "a c d";
    gap: 2rem;
  }
  .project-1 {
    grid-area: b;
  }
  .project-2 {
    grid-area: a;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
  /*Hasta aqui se ve todo como el orto, tengo que arreglarlo*/
  /*Solucion: LA PARENT MAXIMA son los Hrefs, y dentro estan los PROJECT.
  Tengo que hacer que los PROJECT ocupen el 100%*/
  .project-img {
    height: 100%;
  }
  .project {
    height: 100%;
  }
  /*solo falta un pequeño GAP dentro de la area*/
}
/* End Projects Section */
