/* Variables */
:root {
  /* Dark Shades of Primary */
  --colorPrimare-Shade1: #10423d;
  --colorPrimare-Shade2: #17635c;
  --colorPrimare-Shade3: #1f847a;
  --colorPrimare-Shade4: #27a599;
  /* Primary */
  --primaryColor: #2ec4b6;
  /* Lighter Shades of Primary */
  --colorPrimare-Light1: #49d4c6;
  --colorPrimare-Light2: #6adcd1;
  --colorPrimare-Light3: #8be4db;
  --colorPrimare-Light4: #def7f5;
  /* Details Colors */
  --DetailCTA1: #e71d36;
  --DetailCTA2: #ff9f1c;
  /* Dark */
  --mainBlack: #222;
  --offBlack: #011627;
  --mainWhite: #fff;
  --offWhite: #fdfffc;
  --darkGrey: #747474;
  /* Others */
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --borderRad: 0.5rem;
}
/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--DetailCTA1);
  color: var(--offWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--borderRad);
}

.btn:hover {
  background: var(--DetailCTA2);
  color: var(--mainWhite);
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* Global for Project*/
/* End Globals for project */

/* Nav Bar */
.nav-links {
  display: none; /*Escondemos para trabajar*/
  list-style-type: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid; /*Esto pondra la PARENT en el center*/
  align-items: center;
  transition: var(--mainTransition); /*porque luego sera fixed*/
}
.nav-center {
  /*Ponemos el Nav center, siempre en el center, bigger screen too*/
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  /*centramos verticalmente el header y sus elementos*/
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--primaryColor);
  font-size: 2rem;
  cursor: pointer;
  /* Justify-content: space-between --> en FLEX */
  justify-self: end; /*Tenemos 2 columnas, default=start, mandamos button al end*/
}
/* Navbar for Desktop */
@media screen and (min-width: 768px) {
  .nav {
    background: var(--colorPrimare-Light4);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid; /*mostramos los links que estaban hidden*/
    grid-template-columns: repeat(4, 1fr);
    /* No se me tienen en cuenta el logo */
    /* ayuda agregar un bg para manejar dichos items unicamente */
    /* background: red; */
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--colorPrimare-Shade1);
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--DetailCTA2);
  }
  /* Usamos la PARENT para poner todo LADO a LADO */
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /* Sucede que el BTN aunque invisible ocupa un espacio, hay que ponerle AUTO al header */
  }
}
/* Sidebar for mobile */

/* End Nav Bar */
